.container{
  display: flex;
  align-items: center;
  background-color: rgb(243, 243, 247);


  justify-content: space-between;

  &_standart{
    width: 96px;
    height: 32px;
    border-radius: 20px;
  }

  &_big{
    width: 167.5px;
    height: 46px;
    border-radius: 30px;
  }
    svg{

      rect{
        transition: all 0.3s ease-in-out;
      }
      &:hover{
        rect{
          fill: #454B54;
        }
      }
    }
}

.count{

  font-weight: 500;
  text-align: center;
  color: black;

  &_standart{
    font-size: 16px;
  }

  &_big{
    font-size: 20px;
  }
}

.circle{

  height: 34px;

  &_standart{
    width: 34px;
  }

  &_big{
    width: 50px;
  }
  border: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
