.buttonAdd{
  height: 48px;
  padding: 12px 24px;
  font-size: 16px;

  border-radius: 24px;
  border: none;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &_span{
    color: white;
    position: relative;
    top: -1px;

    @media (max-width:800px) {
      font-size: 13px;
    }
  }
  &_active{
    background-color: #FF6900;
    &:hover{
      background-color: darken(#FF6900, 3%);
    }

    &:active{
      background-color: lighten(#FF6900, 3%);
    }
  }

  &_disabled{
    background-color: #c1c1c1;
    cursor: not-allowed;
  }


}