.buttonAdd{
  height: 48px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #FF6900;

  border-radius: 24px;
  border: none;
  width: 100%;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &_span{
    color: white;
    position: relative;
    top: -1px;
  }
  &:hover{
    background-color: darken(#FF6900, 3%);
  }

  &:active{
    background-color: lighten(#FF6900, 3%);
  }
}