
.categories {
  padding: 5px 0;
  z-index: 1099;
  overflow-x: auto;
  white-space: nowrap;

  &::-webkit-scrollbar {
    height:  3px;
    border-radius: 4px;
    background-color: #888;
  }

  &::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  width: 100%;
  background-color: #fff;
  @media (max-width: 600px) {
    background-color: #f9f9f9;
    border-bottom: 1px solid #f6f6f6;


  }
  &_container{
    @media (max-width: 600px) {
      position: relative;
      z-index: 1100;
      padding: 0 5px;
      width: 100%;
      background-color: #fff;
    }
  }

  ul {
    display: flex;

    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      
      @media (max-width: 660px) {
        padding: 9px 18px;
      }

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
