.title{
  font-size: 22px;
  font-weight: 600;
  margin-top: 20px;
  text-align: left;
}

.container {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;

  @media (max-width:1020px) {
    grid-template-columns: repeat(2, 1fr);
  }
}