
.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 35px;

  @media (max-width: 800px) {
    padding: 15px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;

      @media (max-width: 700px) {
        font-size: 20px;
      }
    }

    p {
      color: #7b7b7b;
      @media (max-width: 700px) {
        font-size: 12px;
        width: 150px;
      }
    }
  }

  &_left{
    display: flex;
    align-items: center;
  }

  &_cabButton{
    display: block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.3s ease-in-out;
    margin-left: 40px;

    @media (max-width: 700px) {
      margin-left: 10px;
    }

    svg{
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      transition: inherit;
      path{
        transition: inherit;
      }
    }

    span{
      display: block;
      font-weight: bold;
      font-size: 16px;
      transition: inherit;

      @media (max-width: 700px) {
        font-size: 12px;
      }
    }

    &:hover{
      span{
        color: #ff6900;
      }

      svg{
        transform: translate(-50%, -10%);
        path{
          fill: #ff6900;
        }
      }
    }
  }
  &_loginButton{
    text-align: center;
    background-color: #ff6900;
    padding: 7px 25px;
    border: none;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    transition: all 0.3s ease-in-out ;
    margin-left: 40px;
    &:hover{
      background-color: lighten(#ff6900, 5%);
    }
  }
}


.link{
  margin-right: 20px;
  font-size: 16px;
  font-weight: 600;
}
