
.header {
  border-bottom: 1px solid #f6f6f6;
  padding: 35px;


  @media (max-width: 800px) {
    padding: 15px;
  }

  @media (max-width: 530px) {
    padding: 10px 15px;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }

  &__logo {
    display: flex;

    img {
      margin-right: 15px;
      width: clamp(30px, 4vw, 38px);
      @media (max-width: 530px) {

        margin-right: 7px;
      }
    }

    h1 {
      color: #181818;
      font-size: clamp(16px, 3vw, 24px);
      letter-spacing: 1%;
      text-transform: uppercase;
      font-weight: 800;
      @media (max-width: 481px) {
        display: none;
      }
    }

    p {
      color: #7b7b7b;
      font-size: clamp(10px, 1.5vw, 12px);
        width: 150px;

      @media (max-width: 550px) {
        font-size: 10px;

      }



      @media (max-width: 481px) {
        display: none;
      }
    }

    @media (max-width: 530px) {
      width: 155px;
    }

    @media (max-width: 481px) {
      width: auto;
    }
  }

  &_left{
    display: flex;
    align-items: center;
  }

  &_cabButton{
    display: block;
    position: relative;
    cursor: pointer;
    background: none;
    border: none;
    transition: all 0.3s ease-in-out;
    margin-left: 40px;

    @media (max-width: 700px) {
      margin-left: 10px;
    }

    svg{
      display: block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      transition: inherit;
      path{
        transition: inherit;
      }
    }

    span{
      display: block;
      font-weight: bold;
      font-size: clamp(10px, 1.5vw, 16px);
      transition: inherit;


    }

    &:hover{
      span{
        color: #ff6900;
      }

      svg{
        transform: translate(-50%, -10%);
        path{
          fill: #ff6900;
        }
      }
    }
  }

  &_loginButton{
    text-align: center;
    background-color: #a1a1a1;
    padding: 7px 25px;
    border: none;
    height: 40px;
    cursor: pointer;
    border-radius: 20px;
    color: #fff;
    font-size: 17px;
    transition: all 0.3s ease-in-out ;
    margin-left: 40px;
    &:hover{
      background-color: lighten(#ff6900, 5%);
    }

    @media (max-width: 610px) {
      padding: 5px 18px;
      min-width: 80px;
      font-size: 16px;
      height: 35px;
      margin-left: 10px;
    }

    @media (max-width: 420px) {
      margin-left: 10px;
        padding: 4px 10px;
        min-width: 73px;
      height: 32px;
    }
  }
}


.link{
  margin-right: 20px;
  a{
    font-size: clamp(13px, 3vw, 16px);
    font-weight: 600;
  }

  text-align: center;




}

.containerMobile{
  background-color: white;
  transition: top 0.3s ease;
  border-radius: 10px;
  @media (max-width: 600px) {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 1100;

  }
  &_categorues{
    display: none;
    @media (max-width: 600px) {
      display: block;
    }
  }


}
