
.wrapper{
  display: flex;
  justify-content: center;

}

.pizzaBlock {
  width: 280px;
  text-align: center;
  margin: 0 0 40px 7px;
  flex-direction: column;
  display: flex;
  .cu{
    flex: 1;
    cursor: pointer;
  }
}

.image {
  width: 280px;
  transition: transform 0.2s ease-in-out;
  fill: #fd0000;
  cursor: pointer;


  &:hover{
    transform: translateY(6px);
  }
}

.title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
  text-align: left;
}

.text{
  text-align: left;
  overflow: auto;
  font-size: 15px;

  &::-webkit-scrollbar {
    width: 6px;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #adacac;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}



