
.wrapper{
  display: flex;
  justify-content: center;

  border: 1px solid #ededed;
  border-radius: 15px;
  height: 515px;
  width: 100%;


}

.pizzaBlock {
  text-align: center;
  padding: 5px 15px 15px 15px;
  flex-direction: column;
  display: flex;
  width: 100%;
  .cu{
    flex: 1;
    cursor: pointer;
  }
}

.image {
  transition: transform 0.2s ease-in-out;
  fill: #fd0000;
  cursor: pointer;
  width: 100%;
  max-height: 275px;
  height: auto;
  max-width: 100%;

  object-fit: contain;

  &_container{
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &_loaded{
    margin-right: -14px;
  }

  &:hover{
    transform: translateY(6px);
  }
}

.title {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 20px;
  text-align: left;
}

.text{
  text-align: left;
  overflow: auto;
  font-size: 15px;
  height: 80px;

  &::-webkit-scrollbar {
    width: 4px;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #adacac;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}



