.overlay{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  transition: all 0.25s ease-in-out;
  z-index: 100;

  &_hidden{
    visibility: hidden;
    opacity: 0;
  }

  &_visible{
    visibility: visible;
    background-color: rgb(0,0,0, 0.2);

  }

  &_svg{
    position: fixed;
    top: 49%;
    right: 450px;
    transform: translateY(-50%, -50%);

    width: 50px;
    height: 50px;
    z-index: 1001;
    cursor: pointer;
    transition: transform 0.35s ease-in-out;
    filter: invert(1);

    &:hover{
      transform: rotate(180deg);
    }
  }
}

.cart{
  right: 0;
  position: fixed;
  flex-direction: column;
  display: flex;
  width: 430px;
  height: 100%;
  background-color: #f3f3f3;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
  z-index: 1100;
  transform: translateX(100%);
  transition: transform 0.2s ease-out;

  &_title{
    font-size: 26px;
    font-weight: 500;
    padding: 10px;
  }

  &_visible{
    transform: translateX(0);
  }

  &_items{
    flex: 1;
    overflow: auto;
    margin-bottom: 10px;

    &::-webkit-scrollbar {
      width: 8px;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #888;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }
}

.bottom{
  padding: 16px 24px 24px;
  background-color: white;

  &_info{
    padding: 10px 5px;
    margin-bottom: 10px;
    &_container{
      display: flex;
      justify-content: space-between;
      padding: 2px;
      font-size: 12px;
      font-weight: 500;

      svg{
        margin-left: 3px;
        position: relative;
        top: 3px;
      }
    }
    border-bottom: 1px solid rgb(226, 226, 233);
  }

  &_button{
    &_total{
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      font-size: 17px;
      font-weight: 700;
    }
  }
}

.cartEmpty{
  text-align: center;
  position: relative;
  transform: translate(2%, 124%);
}