.wrapper {
  position: relative;
  margin-right: 15px;
  .title{
    color: #888787;
    margin: 0 0 5px 5px;
    font-size: 14px;
  }

  .input{
    font-size: 18px;
    border: 2px solid #949494;
    padding: 8px 11px 9px 11px;
    border-radius: 6px;
    font-weight: 600;
      &:focus{
        border: 2px solid #ff6900;
      }
  }
}