.wrapper {
  position: relative;
  margin-right: 15px;
  .title{
    color: #888787;
    margin: 0 0 5px 5px;
    font-size: 14px;
  }

  .input{
      font-size: 18px;
      border: 1px solid #949494;
      height: 56px;
      padding: 16px;
      border-radius: 12px;

      &:focus{
        border: 1px solid #ff6900;
      }
  }
}